* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(32, 39, 51, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Manrope", sans-serif;
}

h2 {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 4.085713863372803px;
  text-align: center;
  color: rgba(83, 255, 170, 1);
  text-transform: uppercase;
}

p {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.30000001192092896px;
  text-align: center;
  color: rgba(206, 227, 233, 1);
  margin-top: 25px;
  width: 444px;
}
.container {
  width: 540px;
  background: rgba(49, 58, 72, 1);
  box-shadow: 30px 50px 80px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 40px;
}
.divider-img {
  margin-top: 45px;
  width: 100%;
}

.dice {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background: rgba(83, 255, 170, 1);
  border: none;
  transition: 0.3s all;
}
.dice:hover {
  box-shadow: 0px 0px 40px #53ffaa;
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
}

.btnDice {
  display: flex;
  justify-content: center;
  margin: 32px 0 -60px 0;
}

@media (max-width: 375px) {
  .container {
    width: 343px;
    padding: 30px;
  }
  h2 {
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.4571425914764404px;
  }
  p {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.2571428716182709px;
    width: 295px;
  }
  .dice {
    height: 64px;
    width: 64px;
  }
  .divider-img {
    height: 16px;
  }
}
